# Compiled files
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfvars
#*.json
*backend*

# Module directory
.terraform/

# Other files
*credentials/
plugins/
*plugins/
*.x
*scrap*
*reference*
*artifact
*.txt

# Skaffold
bin/
pkg/
.DS_Store
*.pyc
*.swp
*~
.vscode/
.vs/
.idea
.skaffold-*.yaml
.kubernetes-manifests-*/
_run.*
_del.*
